version: "3.9"

services:
  db:
    image: postgres:15
    container_name: postgres-clima
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: 1234
      POSTGRES_DB: clima
    ports:
      - "5432:5432"
    volumes:
      - ./data:/var/lib/postgresql/data

  api:
    build: .
    container_name: api-clima
    restart: always
    ports:
      - "3000:3000"
    depends_on:
      - db
    env_file:
      - .env
